* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, sans-serif ;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

input {
    margin: 10px;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #D9D9D9;
    outline: none;
    font-family: Tahoma, sans-serif ;
}

button {
    padding: 10px;
    background: #fece30;
    border: unset;
    cursor: pointer;
    width: 282px;
    margin: auto;
    border-radius: 2px;
    font-family: Tahoma, sans-serif ;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: unset;
}

p {
    display: flex;
    justify-content: center;
    margin: 10px 0;

}

.msg {
    text-align: center;
    font-family: Tahoma, sans-serif ;
    color: #c90000;
    justify-content: center;
}

lable {
    margin-left: 10px;
}
